<!DOCTYPE html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Human Trafficking Team Pyxis</title>

    <!-- ====== Favicon Icon ======
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png"> -->

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\bootstrap.min.css"> -->
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./font-awesome.min.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\font-awesome.min.css"> -->
    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./LineIcons.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\LineIcons.css"> -->
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./animate.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\animate.css"> -->
    <!--====== Aos css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./aos.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\aos.css"> -->
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./slick.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\slick.css"> -->
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./default.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\default.css"> -->
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\style.css"> -->
    <!-- ===== Biometric css ===== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./biometric.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./detail.css')}}">

</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== PRELOADER ENDS START ======-->
    <header id="home" class="header-area pt-100">

        <div class="shape header-shape-one">
            <img src="{{ url_for('static', filename='./shape-1.png')}}" alt="shape">
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-1.png" alt="shape"> -->
        </div> <!-- header shape one -->

        <div class="shape header-shape-tow animation-one">
            <img src="{{ url_for('static', filename='./shape-2.png')}}" alt="shape">
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-2.png" alt="shape"> -->
        </div> <!-- header shape tow -->

        <div class="shape header-shape-three animation-one">
            <img src="{{ url_for('static', filename='./shape-3.png')}}" alt="shape">
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-3.png" alt="shape"> -->
        </div> <!-- header shape three -->

        <div class="shape header-shape-fore">
            <!-- <img src="{{ url_for('static', filename='./shape-4.png')}}" alt="shape"> -->
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-4.png" alt="shape"> -->
        </div> <!-- header shape three -->

        <div class="navigation-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                PyXis
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#service">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#team">Team</a>
                                    </li>
                            
                                </ul> <!-- navbar nav -->
                            </div>
                            
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation bar -->


<!-- ===== Details part start ===== -->

<div class="grid-container">
    <div class="grid-child">
        <img src="E:\Projects\PYXIS_SIH\static\sample.webp" width="400px">
    </div>
    <div class="grid-child">
        <div class="detail">
            Name: 
        </div>
        <div class="detail">
            Sex: 
        </div>
        <div class="detail">
            Address: 
        </div>
        <div class="detail">
            Father's Name: 
        </div>
        
    </div>
</div>

<!-- ===== Details part end ===== -->

        <!--====== jquery js ======-->
<script src="{{ url_for('static', filename='./modernizr-3.6.0.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\modernizr-3.6.0.min.js"></script> -->
<script src="{{ url_for('static', filename='./jquery-1.12.4.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\jquery-1.12.4.min.js"></script> -->

<!--====== Bootstrap js ======-->
<script src="{{ url_for('static', filename='./bootstrap.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\bootstrap.min.js"></script> -->

<!--====== WOW js ======-->
<script src="{{ url_for('static', filename='./wow.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\wow.min.js"></script> -->

<!--====== Slick js ======-->
<script src="{{ url_for('static', filename='./slick.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\slick.min.js"></script> -->

<!--====== Scrolling Nav js ======-->
<script src="{{ url_for('static', filename='./scrolling-nav.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\scrolling-nav.js"></script> -->
<script src="{{ url_for('static', filename='./jquery.easing.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\jquery.easing.min.js"></script> -->

<!--====== Aos js ======-->
<script src="{{ url_for('static', filename='./aos.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\aos.js"></script> -->

<!--====== Main js ======-->
<script src="{{ url_for('static', filename='./main.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\main.js"></script> -->

</body>

</html>
