<!DOCTYPE html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Human Trafficking Team Pyxis</title>

    <!-- ====== Favicon Icon ======
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png"> -->

    <!--====== Bootstrap css ======-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap.min.css')}}"> -->
    <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\detail.css">
    <body>
<div class="grid-container">
    <div class="grid-child">
        <img src="E:\Projects\PYXIS_SIH\static\sample.webp" width="400px">
    </div>
    <div class="grid-child">
        <div class="detail">
            Name: 
        </div>
        <div class="detail">
            Sex: 
        </div>
        <div class="detail">
            Address: 
        </div>
        <div class="detail">
            Father's Name: 
        </div>
        
    </div>
</div>
</body>
</head>
</html>