<!DOCTYPE html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Human Trafficking Team Pyxis</title>

    <!-- ====== Favicon Icon ======
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png"> -->

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap.min.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\bootstrap.min.css"> -->
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./font-awesome.min.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\font-awesome.min.css"> -->
    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./LineIcons.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\LineIcons.css"> -->
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./animate.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\animate.css"> -->
    <!--====== Aos css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./aos.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\aos.css"> -->
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./slick.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\slick.css"> -->
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./default.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\default.css"> -->
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css')}}">
    <!-- <link rel="stylesheet" href="E:\Projects\PYXIS_SIH\static\style.css"> -->
    <!-- ===== Biometric css ===== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./biometric.css')}}">

</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== PRELOADER ENDS START ======-->
    <header id="home" class="header-area pt-100">

        <div class="shape header-shape-one">
            <img src="{{ url_for('static', filename='./shape-1.png')}}" alt="shape">
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-1.png" alt="shape"> -->
        </div> <!-- header shape one -->

        <div class="shape header-shape-tow animation-one">
            <img src="{{ url_for('static', filename='./shape-2.png')}}" alt="shape">
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-2.png" alt="shape"> -->
        </div> <!-- header shape tow -->

        <div class="shape header-shape-three animation-one">
            <img src="{{ url_for('static', filename='./shape-3.png')}}" alt="shape">
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-3.png" alt="shape"> -->
        </div> <!-- header shape three -->


        <div class="shape header-shape-fore">
            <!-- <img src="{{ url_for('static', filename='./shape-4.png')}}" alt="shape"> -->
            <!-- <img src="E:\Projects\PYXIS_SIH\static\shape-4.png" alt="shape"> -->
        </div> <!-- header shape three -->

        <div class="navigation-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="{{ url_for('select') }}">
                                PyXis
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="{{ url_for('select') }}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{ url_for('select') }}">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{ url_for('select') }}">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{ url_for('select') }}">Team</a>
                                    </li>
                            
                                </ul> <!-- navbar nav -->
                            </div>
                            
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navigation bar -->
        
        <div>
            {% if img_path == 'none' %}
                <h1 class="h1-disp">No Result</h1>
            
            {% elif img_path == 'none2' %}
                <h1 class="h1-disp">Resubmit the data</h1>

            {% else %}
                <img class="img-disp" src= "{{ img_path }}" alt="" width="250" height="250">

                <table>
                    {% for var1,var2 in persondat %}
                        <tr>
                            <td>{{var1}}</td>
                            <td>{{var2}}</td>
                        </tr>
                        <br>
                    {% endfor %}
                </table>
            
            {% endif %}
        </div>
        
        <style>
            .img-disp {
                display: block;
                top: 40px;
                margin-left: auto;
                margin-right: auto;
            }

            .h1-disp {
                text-align: center;
            }

            table, td {
                border: 2px solid black;
                font-size: 30px;
                margin-top: -180px;
                color: black;
                text-align: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
<!-- Upload part starts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('#show').click(function() {
      $('.wrapper1').toggle("slide");
      $('.wrapper').css("display", "none");
    });
});
</script>
<div class="wrapper">
    
  <div class="wrapper1" style="display:none">
    <div class="container1">
      <h2>Searching type:</h2>
      <div class="upload-container">
        <div class="border-container">
          <!-- <div class="icons fa-4x">
            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
          </div> -->
          <div class="grid-container">

            <form action="" method="post">
                <div class="grid-child purple">
                    <input type="submit" value="Video Searching" name="video">
                </div>
            
                <div class="grid-child green">
                   <input type="submit" value="Real-Time Searching" name="realtime">
                </div>
            </form>
          
        </div>
          
        </div>
      </div>
    </div>
  </div>
  <hr>
 
<!-- Upload part ends -->

<!--====== jquery js ======-->
<script src="{{ url_for('static', filename='./modernizr-3.6.0.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\modernizr-3.6.0.min.js"></script> -->
<script src="{{ url_for('static', filename='./jquery-1.12.4.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\jquery-1.12.4.min.js"></script> -->

<!--====== Bootstrap js ======-->
<script src="{{ url_for('static', filename='./bootstrap.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\bootstrap.min.js"></script> -->

<!--====== WOW js ======-->
<script src="{{ url_for('static', filename='./wow.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\wow.min.js"></script> -->

<!--====== Slick js ======-->
<script src="{{ url_for('static', filename='./slick.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\slick.min.js"></script> -->

<!--====== Scrolling Nav js ======-->
<script src="{{ url_for('static', filename='./scrolling-nav.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\scrolling-nav.js"></script> -->
<script src="{{ url_for('static', filename='./jquery.easing.min.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\jquery.easing.min.js"></script> -->

<!--====== Aos js ======-->
<script src="{{ url_for('static', filename='./aos.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\aos.js"></script> -->

<!--====== Main js ======-->
<script src="{{ url_for('static', filename='./main.js')}}"></script>
<!-- <script src="E:\Projects\PYXIS_SIH\static\main.js"></script> -->

</body>

</html>
